.App {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  grid-template-areas:
    "title title"
    "rating input";
  max-width: 1080px;
  margin: auto;
}

h1, .star-rating-container, .rating-inputs {
  margin: auto;
}

h1 {
  grid-area: title;
}

.star-rating-container {
  grid-area: rating;
}

.rating-inputs {
  grid-area: input;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
}

.rating-inputs input {
  margin: auto;
}

.rating-inputs label {
  margin: auto 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App .star {
  color: gold;
  max-width: 10em;
  margin: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
